<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/jquery.sidr.dark.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

	<div class="footer">
		<p>A SHUTTERBUG PROJECT</p>
	</div>

	<div id="sidr">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", new_signup_path %></li>
			<a id="btnClose" href=""><img src="/assets/close-white.svg"></button></a>
		</ul>
	</div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
