<div class="container">
	<div class="bg-signup">
		<h2>Get the latest updates from Stories</h2>
		<div class="signups">
			<%= form_for(@signup) do |f| %>
			<%= f.label :id  %><br> 
    		<%= f.text_field :email, :placeholder => "Email" %> 
    		<%= f.label :id  %><br> 
    		<%= f.text_field :email, :placeholder => "Email" %> 
  			<%= f.submit "Join", class:'btn' %> 
  			<% end %>
		</div>
	</div>

</div>
