<div class="container">
	<div class="bg-signup">
		<a href="" id="menu"><img src="/assets/open.svg"></a>
		
		<div class="signup-main">
			<h2>Get the latest updates from Stories</h2>
			
			<%= form_for(@signup) do |f| %>
			<div class="signups">
				<%= f.label "First name", id: "firstname" %>
				<br>
    			<%= f.text_field :firstname, :id => 'data', required: true%><br>  
    			<%= f.label "Email", id: "email" %>
    			<br>
    			<%= f.email_field :email, :id => 'data', required:true%><br>  
  				<%= f.submit "Join", class:'submit' %> 
			</div>
			<% end %>
		</div>
	</div>

</div>
