<div class="container" id="cont-port"></div>
<!-- Would have been better to use a database for this part than manually add everything -->
<div class="port">
	<div class="images">
		<div class="img-row">
			<a href="#">
			<div class="img-port">
				<%= image_tag 'https://portfolio-rails-2633.herokuapp.com/assets/project01-0ff155425c5a026839c43ae7c5089f1e.jpg' %>
				<h3>TravelGo's Booking App</h3>
				<p>NGO liberal change-makers global timne of extraordinary change, prevention climate change mobilize shift. Communities, social movement United Nations, Oxfam planned giving Global South humanitarian. Maximize</p>
			</div>
			</a>
			<a href="#">
			<div class="img-port">
				<%= image_tag 'https://portfolio-rails-2633.herokuapp.com/assets/project02-ba5afb4eb817317b6be7ba2948be9fe3.jpg' %>
				<h3>Breather's Reservation Site</h3>
				<p>Persue these aspirations free-speech healthcare sharing economy freedom. Beneficaries geder rights raise awareness change movements provide. Eradicate, diversification inspire breakthroughs, incubation; solve Peace Corps. Innovate</p>
			</div>
			</a>
		</div>
		<div class="img-row">
			<a href='#'>
			<div class="img-port">
				<%= image_tag 'https://portfolio-rails-2633.herokuapp.com/assets/project03-f820dd50db97b4bef375e7645466b30e.jpg' %>
				<h3>EnVogue Events' Portfolio</h3>
				<p>Informal economies; underprivileged, grantees transformative prosperity. Education best practices connect achieve plumpy'nut. Action Against Hunger; save the world, combat HIV/AIDS crowdsourcing eradicate incluusive facilitate collaborative</p>
			</div>
			</a>
			<a href='#'>
			<div class="img-port">
				<%= image_tag 'https://portfolio-rails-2633.herokuapp.com/assets/project04-1e66995d7e1fc884b9d84f6d9a2f135a.jpg' %>
				<h3>Gaunlet Gallery</h3>
				<p>Small-scale farmers; collaborative cities Bill and Melinda Gates best practices equity health theory of social change human experience. Tackle rural development relief worldwide resepct, economic.</p>
			</div>
			</a>
		</div>
		<div class="img-row">
			<a href="#">
			<div class="img-port">
				<%= image_tag 'https://portfolio-rails-2633.herokuapp.com/assets/project05-be5f6a9baca0191c49d4b424555f9287.jpg' %>
				<h3>Koi Pond Online Visitors Guide</h3>
				<p>UNICEF, research Ford Foundation outcomes collaborative consumption turmoil change lives. Tackling, dignity,world problem solving small-slace farers complexity rural. Emergent humanitarian, necessities effect, challenges of.</p>
			</div>
			</a>
			<a href="#">
			<div class="img-port">
				<%= image_tag 'https://portfolio-rails-2633.herokuapp.com/assets/project06-ec513d22a13d9c4c5f959882fa9ea7bb.jpg' %>
				<h3>Academty Sciences Newsletter</h3>
				<p>Aid collaborative global network overcome injustice honesty measures. Environmental, social impact carbon rights combat HIV/AIDS transform the world social innovation local effect. Free expression committed</p>
			</div>
			</a>
		</div>
	</div>
	
</div>